@import "./variables.less";

@navHeight: 30px;
@headerHeight: 100px;
@detailsHeight: 40px;

/* ----------------------------------------- */
/*  All Tormenta20 Apps                      */
/* ----------------------------------------- */

#sidebar {
  border: 1px solid #782e22;
  color: #ffffff !important;
  
  .tab:not(#chat) button {
    color: #fff;
    /*#f18c17;*/
    background: #0d0d0d;
    border: 1px solid #782e22;
  }
  .tab #chat-log button {
    color: initial;
    background: rgba(255, 255, 240, 0.8);
    border: @borderGroove;
  }
  button {
    font-family: "Signika", sans-serif;
  }
}

.app {
	background: url(./assets/side-bar.png) repeat;
}

.tormenta20 {
  .window-content {
    font-size: 13px;
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Item Sheet form fields
  input[type="text"],
  input[type="number"],
  select {
    height: calc(100% - 2px);
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    color: @colorDark;
  }

  // Hovered Fields
  input[type="text"],
  input[type="number"],
  input[type="checkbox"] {
    &:hover,
    &:focus {
      border: 1px solid #111;
      box-shadow: 0 0 8px red;
    }
  }

  // Disabled Fields
  input:disabled,
  select:disabled,
  textarea:disabled {
    color: @colorOlive;
    border: 1px solid transparent !important;
    outline: none !important;
    &:hover,
    &:focus {
      box-shadow: none !important;
      border: 1px solid transparent !important;
      outline: none !important;
    }
  }

  // Buttons
  button {
    background: rgba(0, 0, 0, 0.10);
    border: @borderGroove;
  }

  /* Form Groups */
  .form-group {
    label {
      flex: 2;
      color: @colorOlive;
      font-weight: bold;
    }
    .form-fields {
      .flexrow();
      > * {
        margin: 0 3px 0 0;
        &:last-child { margin-right: 0; }
      }
    }
  }

  // Stacked Groups
  .form-group.stacked {
    > label {
      flex: 0 0 100%;
      margin: 0;
    }
    label.checkbox,
    label.radio {
      flex: auto;
      text-align: left;
    }
  }

  // Form Headers
  .form-header {
    margin: 0 0 0.25em 0;
    padding: 2px 0;
    border-top: @borderGroove;
    border-bottom: @borderGroove;
    .modesto();
  }

  /* Tags */
  .tag-list {
    clear: both;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 3px 0;
    align-items: center;
  }
  .tag {
    // display: inline-block;
    flex: 0 0 auto;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
  }
}

// Add tormenta20 sheet
.active-effect-sheet {
  /* Form Groups */
  .form-group {
    .form-checks {
      label {
        line-height: 16px;
        flex: 1!important;
      }
    }
  }
}

/* ----------------------------------------- */
/*  Damage Resistances                       */
/* ----------------------------------------- */
.tormenta20.rd-config {
  input {
    max-width: 70px;
  }
}

/* ----------------------------------------- */
/*  Hit Dice Config Sheet Specifically       */
/* ----------------------------------------- */

.tormenta20.hd-config {
  .form-group {
    button.increment, button.decrement {
      flex: 0 0 1rem;
      line-height: 1rem;
    }

    button.decrement {
      margin-right: 0;
    }

    span.sep {
      margin: 0;
    }

    input {
      flex: 0 0 2rem;
      text-align: center;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}


/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */

.tormenta20.sheet {
  .window-content {
    overflow-y: hidden;
    padding: 5px;
    background: @sheetBackground;
    font-size: 18px;
    color: @colorDark;

    form {
      height: 100%;
      overflow: hidden;
    }

    .tab {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      align-content: flex-start;
    }

    // scrollY
    form.base {
      .sheet-body {
        overflow-y: auto;
        // height: 94%;
        height: calc(100% - 50px);
        padding-bottom: 5px;
      }
    }
    form.tabbed {
      .sheet-body {
        overflow-y: auto;
        height: calc(100% - 230px);
        padding-bottom: 5px;
      }
    }
    form.npc {
      .sheet-body.primary {
        overflow-y: auto;
        height: calc(100% - 50px);
        padding-bottom: 5px;
      }
      &.builder {
        .sheet-body {
          overflow-y: auto;
          height: calc(100% - 150px);
          padding-bottom: 5px;
          .tab {
            overflow: hidden;
            height: auto;
          }
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Input Fields
  input[type="text"],
  input[type="number"] {
    background: none;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border: 1px solid #111;
    }
  }

  // Select Fields
  select {
    flex: 1;
    font-size: 12px;
    height: 22px;
    background: transparent;
  }

  // Rollable Titles
  .editable .rollable:hover {
    cursor: pointer;
  }
  .editable h4.rollable:hover,
  .editable .rollable:hover > h4 {
    color: #000;
    text-shadow: 0 0 10px red;
  }

  // Separators
  span.sep {
    flex: none;
    margin: 0 1px;
    display: inline;
    position: relative;
    color: @colorTan;
    font-weight: normal;
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    height: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
  }

  /* ----------------------------------------- */
  /*  Notifications                            */
  /* ----------------------------------------- */

  .warnings, .info {
    flex: 0 0 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    .notification {
      font-family: 'Signika', sans-serif;
      font-weight: normal;
      font-size: 13px;
      box-shadow: none;
      padding: 2px 8px;
      margin-bottom: 2px;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    flex: 0 0 @headerHeight;
    border-bottom: @borderGroove;

    .header-details {
      .modesto();

      .summary select {
        width: 100%;
        height: 100%;
        border: 0;

        .modesto();
        text-transform: capitalize;
        font-weight: 100;
      }
    }

    /* Character Name */
    h1 {
      flex: 1;
      border-bottom: none;
      height: 60px;
      margin: 0;
      padding: 5px;

      input {
        display: block;
        height: 50px;
        font-size: 32px;
        margin: 0;
      }
    }

    /* Profile Image */
    img.profile {
      flex: 0 0 @headerHeight;
      max-width: @headerHeight;
      height: @headerHeight;
      object-fit: contain;
      border: none;
      border-right: @borderGroove;
    }

    /* Header Summary Details */
    .summary {
      flex: 0 0 100%;
      height: @detailsHeight;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: @borderGroove;
      border-bottom: none;

      li {
        height: calc(100% - 6px);
        float: left;
        margin: 2px 0;
        padding: 0;
        border-right: @borderGroove;
        line-height: 34px;
        color: @colorOlive;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */

  .sheet-tabs {
    flex: 0 0 @navHeight;
    margin-bottom: 5px;
    .modesto();

    .item {
      height: 30px;
      line-height: 32px;
      padding: 0;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  .sheet-body {
    flex: 1;
  }

  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */

  .filter-list {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;
    max-width: 70%;

    .filter-icon {
      flex: none;
      font-size: 14px;
      color: @colorTan;
    }

    .filter-item {
      text-align: center;
      font-size: 12px;
      margin: 0 6px 0 0;
      border-bottom: 3px solid @colorBeige;
      white-space: nowrap;

      &:last-child {
        margin: 0;
      }

      &:hover {
        text-shadow: 0 0 4px red;
        border-bottom: 3px solid @colorTan;
      }

      &.active {
        border-bottom: 3px solid @colorCrimson;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */

  .traits {
    margin: 5px 0 0;

    .traits-list {
      flex: 0 0 100%;
      line-height: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .trait-selector, .proficiency-selector {
    flex: 0 0 16px;
    padding: 2px 0;
    color: #999;
    font-size: 10px;
  }
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.tormenta20 {
  .effects-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: @colorDark;
    background-color: rgba(0,0,0,0.05);
    font-size: 14px;

    // Child lists
    .effects-list {
      list-style: none;

      margin: 0;
      padding: 0;
    }

    // Item Name
    .item-name {
      flex: 2;
      margin: 0;
      overflow: hidden;
      
      text-align: left;
      align-items: center;
      h3, h4 {
        margin: 0;
        overflow-x: hidden;
        border: unset;
      }
    }
    
    
    // &.ae-onuse {
    //   // Individual Item
    //   .item.effect {
    //     min-width: 45%;
    //     max-width: 50%;
    //   }
    // }

    // Control Buttons
    .item-controls {
      flex: 0 0 60px;
      justify-content: space-between;
      a {
        font-size: 12px;
        text-align: center;
      }
      .effect-control-list {
        flex: 0;
      }
      .add-status-effects {
        display: none;
        position: absolute;
        right: 80px;
        width: 190px;
        background: rgba(0,0,0,0.7);
        border-radius: 15px;
        padding: 7px;
        .active {
          display: block;
        }
      }
    }

    
    .item {
      align-items: center;
      height: auto;
      line-height: 24px;
      padding: 0 2px;
      
      border-bottom: 1px solid @colorFaint;
      &:last-child { border-bottom: none; }
      .item-name {
        color: @colorDark;
        .item-image {
          flex: 0 0 30px;
          height: 30px;
          background-size: 30px;
          border: none;
          margin-right: 5px;
        }
      }
    }

    // Section Header
    .items-header {
      height: 28px;
      margin: 2px 0;
      padding: 0;
      align-items: center;
      background: rgba(0, 0, 0, 0.05);
      border: @borderGroove;
      font-weight: bold;
      > * {
        text-align: left;
      }
      h3 {
        padding-left: 5px;
        .modesto();
        text-align: left;
        font-size: 16px;
        border: unset;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */

  .effects .item {
    .effect-source,
    .effect-duration,
    .effect-controls {
      text-align: center;
      border-left: 1px solid @colorFaint;
      border-right: 1px solid @colorFaint;
      font-size: 12px;
    }
    .effect-controls {
      border: none;
    }
  }
}

.tormenta20.actor.sheet {
  .effects-list {
    &.ae-onuseTemp,
    &.ae-onuse {
      // Individual Item
      .item.effect {
        min-width: 45%;
        max-width: 50%;
      }
    }
  }
}

/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */

.trait-selector {
  .tag-list,
  .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li ol.trait-list {
      margin-left: 1.5em;
    }
  }

  input[type="text"] {
    height: 24px;
    margin: 2px;
  }
}

/* ----------------------------------------- */
/*  Ability Use                              */
/* ----------------------------------------- */

.tormenta20.ability-use-form {
  .window-content .dialog-content #ability-use-form {
    .form-group {
      .aprimoramentos-list {
        .item {
          .item-cost {
            vertical-align: center;
            .numInp,
            .numCtrl {
              max-height: 24px;
              max-width: 24px;
              font-size: 14px;
              line-height: 20px;
              padding: 1px 4px;
            }
            .numCtrl {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
  .window-content .dialog-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    button {
      max-height: 35px;
      flex: 1;
    }
  }
}

/* ----------------------------------------- */
/*  Property Attribution                     */
/* ----------------------------------------- */

.property-attribution {
  display: none;
  position: absolute;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(4px);
  color: @colorFaint;
  text-align: left;
  z-index: 1;

  table {
    margin: 0;
    border: 0;
    tr {
      background-color: inherit;
    }
    td {
      padding: 3px;
    }
    tr.total > td {
      font-weight: 600;
      padding-top: 5px;
      border-top: 1px solid @colorTan;
    }
    td.attribution-value {
      width: 20%;
      padding-right: 5px;
      text-align: right;
      font-weight: 600;
    }

    // Arithmetic Operators
    td::before {
      opacity: 0.6;
    }
    td.mode-1::before { // Multiply
      content: "×";
    }
    td.mode-2::before { // Add
      content: "+";
    }
    td.mode-2.negative::before { // Subtract
      content: "−";
      margin-right: -1px;
    }
    td.mode-3::before { // Downgrade
      content: "↓";
    }
    td.mode-4::before { // Upgrade
      content: "↑";
    }
  }
}

/* ----------------------------------------- */
/*  Actor Type Config Sheet Specifically     */
/* ----------------------------------------- */

.actor-type {
  .trait-list {
    display: flex;
    flex-wrap: wrap;
    li {
      flex-basis: 50%;
      flex-grow: 1;
    }
    li.form-group {
      flex-basis: 100%;
    }
  }
  label.radio {
    display: flex;
    flex: auto;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    > input[type="radio"] {
      margin: 0 5px 0 0;
    }
  }
  li.custom-type input[type="radio"] {
    display: none;
  }
}

/* ----------------------------------------- */
/*  Armor Config Sheet Specifically          */
/* ----------------------------------------- */

.tormenta20.actor-armor-config {
  .ac-field input {
    font-size: 3em;
    text-align: center;
  }
}

/* ----------------------------------------- */
/*  Add Feature Prompt Specifically          */
/* ----------------------------------------- */

.tormenta20.select-items-prompt {
  .dialog-content {
    margin-bottom: 1em;
  }

  .items-list {
    margin-top: 0.5em;
  }

  .item-name > label, .item-image, input {
    cursor: pointer;
  }

  .item-name > label {
    align-items: center;
  }

  .window-content {
    max-height: 90vh;
    overflow-y: auto;
  }
}
