<ul class="item-list">
	<li class="item flexrow item-header">
		<div class="item-name flex2">{{localize 'T20.Powers'}}</div>
		<div class="item-type">{{localize 'T20.Type'}}</div>
		<div class="item-activation">{{localize 'T20.Activation'}}</div>
		{{#if owner}}
		<div class="item-controls">
			<a class="item-control item-create" title="{{localize 'T20.Add'}} {{localize 'T20.Powers'}}" data-type="poder"><i class="fas fa-plus"></i> {{localize 'T20.Add'}}</a>
		</div>
		{{/if}}
	</li>
	{{#each actor.poderes as |item id|}}
	<li class="item flexrow" data-item-id="{{item._id}}">
		<div class="item-name flexrow rollable flex2" data-label="{{item.name}}">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<label>{{item.name}}</label>
		</div>
		<div class="item-type">
			{{item.labels.tipo}}{{#if item.labels.subtipo}}: {{item.labels.subtipo}}{{/if}}
		</div>
		<div class="item-activation">
			{{#if item.labels.ativacao}}
			{{item.labels.ativacao}}{{#if item.labels.custoPM}},{{/if}}
			{{/if}}
			{{#if item.labels.custoPM}}
			{{item.labels.custoPM}}
			{{/if}}
		</div>
		{{#if ../owner}}
		<div class="item-controls">
			{{#if (eq ../layout "tabbed")}}
			<a class="item-control item-fav" title="{{#if item.flags.favorito}}{{localize 'T20.Favorite'}}{{else}}{{localize 'T20.Unfavorite'}}{{/if}}" >
				<i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i>
			</a>
			{{/if}}
			<a class="item-control item-edit" title="{{localize 'T20.Edit'}}"><i class="fas fa-edit"></i></a>
			<a class="item-control item-delete" title="{{localize 'T20.Delete'}}"><i class="fas fa-trash"></i></a>
		</div>
		{{/if}}
	</li>
	{{/each}}
</ul>