<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{this.formula}}</div>
        {{{this.tooltip}}}

        
        <h4 class="dice-total">{{this.total}}</h4>

    </div>
</div>
