<div class="form-group input-select">
	<label>{{ localize "T20.Cost" }}</label>
	<div class="form-fields">
		<input type="number" name="system.ativacao.custo" value="{{item.system.ativacao.custo}}" data-dtype="Number" placeholder="0" /><label>{{ localize "T20.MP" }}</label>
	</div>
</div>
	
<div class="form-group input-select">
	<label>{{ localize "T20.ConsumeTitle" }}</label>
	<div class="form-fields">
		<select name="system.consume.type">
			{{selectOptions config.abilityConsumptionTypes selected=system.consume.type blank=''}}
		</select>
		<select name="system.consume.target">
			{{selectOptions abilityConsumptionTargets selected=system.consume.target blank=''}}
		</select>
		<input type="number" name="system.consume.amount" value="{{system.consume.amount}}" placeholder="{{localize 'T20.QuantityAbbr'}}"/>
		<input type="checkbox" name="system.consume.mpMultiplier" data-dtype="Boolean" {{checked system.consume.mpMultiplier}} title="{{localize 'T20.ConsumeMPMultiplier'}}">
	</div>
</div>

{{!-- Activation Cost --}}
<div class="form-group input-select">
	<label>{{ localize "T20.ActivationCost" }}</label>
	<div class="form-fields">
		<select name="system.ativacao.execucao">
			{{selectOptions config.abilityActivationTypes selected=item.system.ativacao.execucao localize=true blank=''}}
		</select>
		{{#if (eq system.ativacao.execucao "special") }}
			<div class="form-fields">
				<input type="text" placeholder="{{ localize 'T20.Description' }}" title="{{ localize 'T20.Description' }}" name="system.ativacao.special" value="{{item.system.ativacao.special}}" />
			</div>
		{{else}}
			<input type="hidden" name="system.ativacao.special" value="">
		{{/if}}
		{{#if (or (eq item.system.ativacao.execucao "minute") (eq item.system.ativacao.execucao "hour") (eq item.system.ativacao.execucao "day") ) }}
			<div class="form-fields">
				<input type="text" name="system.ativacao.qtd" value="{{item.system.ativacao.qtd}}" placeholder="{{ localize 'T20.Quantity' }}" title="{{ localize 'T20.Quantity' }}" />
			</div>
		{{else}}
			<input type="hidden" name="system.ativacao.qtd" value="">
		{{/if}}
	</div>
</div>

{{!-- Activation Condition --}}
<div class="form-group">
	<label>Condição de Ativação</label>
	<div class="form-fields">
		<input type="text" name="system.ativacao.condicao" value="{{item.system.ativacao.condicao}}" />
	</div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
	<label>{{ localize "T20.Range" }}</label>
	<div class="form-fields">
		{{#if (or (eq item.system.alcance "m") (eq item.system.alcance "km") )}}
			<input type="text" name="system.range.value" value="{{item.system.range.value}}" data-dtype="Number">
		{{/if}}
		<select name="system.alcance">
			{{selectOptions config.distanceUnits selected=item.system.alcance localize=true}}
		</select>
	</div>
</div>

{{!-- Ability Target --}}
<div class="form-group input-select-select">
	<label>{{ localize "T20.Target" }}</label>
	<div class="form-fields">
		<input type="text" name="system.alvo" value="{{item.system.alvo}}" data-dtype="String" />
	</div>
</div>

<div class="form-group">
	<label>{{ localize "T20.Area" }}</label>
	<div class="form-fields">
		<input type="text" name="system.area" value="{{item.system.area}}" data-dtype="String" />
	</div>
</div>

<div class="form-group">
	<label>{{ localize "T20.Effect" }}</label>
	<div class="form-fields">
		<input type="text" name="system.efeito" value="{{item.system.efeito}}" data-dtype="String" />
	</div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
	<label>{{ localize "T20.Duration" }}</label>
	<div class="form-fields">
		{{#if (or (eq item.system.duracao.units "round") (eq item.system.duracao.units "turn") (eq item.system.duracao.units "minute") (eq item.system.duracao.units "hour") (eq item.system.duracao.units "day") (eq item.system.duracao.units "month") (eq item.system.duracao.units "year") )}}
			<input type="text" name="system.duracao.value" value="{{item.system.duracao.value}}" placeholder="{{ localize 'T20.Quantity' }}" />
		{{/if}}
		<select name="system.duracao.units">
			{{selectOptions config.timePeriods selected=item.system.circulo localize=true blank=''}}
		</select>
		{{#if (eq item.system.duracao.units "special")}}
			<input type="text" name="system.duracao.special" value="{{item.system.duracao.special}}" placeholder="{{ localize 'T20.Description' }}" />
		{{/if}}
	</div>
</div>